In [1]:
import os

In [2]:

os.environ['KAGGLE_USERNAME'] = "shubhamcwaghmare"
os.environ['KAGGLE_KEY'] = "c9be5254620e5e4e07356b233a97a20b"

In [3]:
! kaggle datasets list

ref                                                             title                                                   size  lastUpdated                 downloadCount  voteCount  usabilityRating
--------------------------------------------------------------  ------------------------------------------------  ----------  --------------------------  -------------  ---------  ---------------
saidaminsaidaxmadov/chocolate-sales                             Chocolate Sales                                       468320  2026-01-04 14:23:35.490000          16970        303                1
aliiihussain/amazon-sales-dataset                               Amazon_Sales_Dataset                                 1297759  2026-02-01 11:37:12.353000           3399         64                1
hassanjameelahmed/price-of-healthy-diet-clean                   Global Healthy Diet Cost Analysis (2017–2024)          14103  2026-02-05 07:18:40.347000            562         22                1
ayeshaimran1619/foodpanda-data-analysis                         Foodpanda Data Analysis                               196335  2026-02-06 07:41:08.650000            393         26                1
ayeshasiddiqa123/student-perfirmance                            Student Academic Performance Dataset.                  96178  2026-01-06 12:08:32.540000           5583        104                1
sonalshinde123/work-from-home-employee-burnout-dataset          Work From Home Employee Burnout Dataset                27962  2026-01-31 03:28:22.227000           1874         43                1
vishardmehta/gold-price-forecasting-dataset                     Gold Price Forecasting Dataset                        138149  2026-02-02 10:27:21.830000           1542         30                1
rockyt07/social-media-user-analysis                             Social Media User Analysis                         247842357  2026-01-14 02:28:41.970000           9117        174                1
hassanjameelahmed/store-sales                                   Retail Store Sales                                     66677  2026-02-04 06:31:47.217000            953         32                1
dhrubangtalukdar/mercedes-global-car-sales-2020-2025            Mercedes Global Car Sales 2020-2025                 93377423  2026-02-02 15:27:26.227000           1228         34                1
tatheerabbas/car-price-classification-ready-data                car-price-classification-ready-data                     8276  2026-02-05 13:39:39.350000            504         24        0.8235294
ibrahimshahrukh/tesla-stock-price-historical-dataset-2010-2025  Tesla Stock Price Historical Dataset (2010-2025)      137925  2026-02-07 02:32:35.947000            474         26                1
syedaeman2212/global-cars-data                                  Global Cars                                             5889  2026-02-04 19:01:28.920000            706         26                1
sanaijlalshahrukh/gold-price-analysis-10-year-historical-data   Gold Price analysis 10-Year Historical Data            41715  2026-02-05 03:45:30.177000            973         27                1
vishardmehta/indian-engineering-college-placement-dataset       Indian Engineering College Placement Dataset          137603  2026-01-24 15:23:40.150000           2841         58                1
wardabilal/customer-shopping-behaviour-analysis                 Customer Shopping Behaviour Analysis                   67263  2026-01-25 05:50:56.253000           1597         32                1
sadiajavedd/social-media-user-activity-dataset                  Social Media User Activity Dataset                 123931685  2026-02-02 15:27:56.120000           1196         31        0.9411765
jayjoshi37/daily-internet-usage-statistics-by-age-group         Daily Internet Usage Statistics by Age Group           38314  2026-01-22 07:37:16.583000           1153         28                1
thedrzee/netflix-movies-and-tv-shows-dataset                    Netflix Movies & TV Shows Dataset                    1401948  2026-01-28 07:24:42.120000           1080         49        0.9411765
thedrzee/spotify-long-hits-dataset-2014-2024                    Spotify Long Hits Dataset_(2014-2024)                  39137  2026-02-01 13:07:24.790000            790         57       0.88235295

In [4]:
! kaggle datasets download -d saidaminsaidaxmadov/chocolate-sales

Dataset URL: https://www.kaggle.com/datasets/saidaminsaidaxmadov/chocolate-sales
License(s): CC-BY-SA-4.0
Downloading chocolate-sales.zip to C:\Users\hp\Desktop\ML

  0%|          | 0.00/457k [00:00<?, ?B/s]
100%|##########| 457k/457k [00:01<00:00, 443kB/s]
100%|##########| 457k/457k [00:01<00:00, 443kB/s]

In [6]:
import zipfile

In [7]:
with zipfile.ZipFile("chocolate-sales.zip", "r") as z:
    z.extractall("ML")

In [8]:
import pandas as pd

In [11]:
pd.read_csv("ML/Chocolate Sales.csv")

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184
...,...,...,...,...,...,...
3277,Karlen McCaffrey,Australia,Spicy Special Slims,17/05/2024,"$5,303.58",354
3278,Jehu Rudeforth,USA,White Choc,07/06/2024,"$7,339.32",121
3279,Ches Bonnell,Canada,Organic Choco Syrup,26/07/2024,$616.09,238
3280,Dotty Strutley,India,Eclairs,28/07/2024,"$2,504.62",397
3281,Karlen McCaffrey,India,70% Dark Bites,23/05/2024,"$5,915.87",355